
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-image:url("1024px-18th_National_Congress_of_the_Communist_Party_of_China.jpg");
background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenbig{
  display:block;
}

.screensmall{
  display:none;
}

.togglebutton{
  display:none;
}

.container{
top:5vh;
padding:2vw;
left:38vw;
width:53vw;
height:10vh;
position:fixed;
border-radius:10px;
background-color:white;
display:flex;
justify-content:space-around;
align-items:center;
}


.explanation{
  z-index:-1;
  left:5vw;
  position:relative;
  background:white;
  padding:1vw;
  border-radius:10px;
  width:86vw;
}


hr{
  width:57vw;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

button:hover {background-color: #e7e7e7;}

label{
  margin:5px
}

input {
  margin:5px;
  height:1vh;
  width:250px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

select{
  margin:5px;
  height:6vh;
  width:25vw;
  margin-bottom:10px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

.firstform{
  border-style: solid;
  border-color: black;
  border:2px;
}

.main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.graphs{
  width:100vw;
  height:100vh;
}

.graph{
  background-color:white;
  position:fixed;
  width:90vw;
  left:5vw;
  border-radius:10px;
  padding:2px;

}

.graphone{
bottom:5vh;
height:40vh;

}

.graphtwo{
top:5vh;
left:5vw;
width:30vw;
height:44vh;

}

.innergraphone{
width:700vw;
height:40vh;
}

.innergraphtwo{
width:20vw;
height:44vh;
}



@media only screen and (max-width: 705px ) {
  input {
    width:125px;
  }

  select{
    width:125px;
  }

}


@media only screen and (max-width: 375px ) {
  input {
    width:65px;
  }

  select{
    width:65px;
  }

}



@media only screen and (max-width: 413px) {

  hr{
    width:96vw;
  }

  .container{
  top:2vh;
  left:2vw;
  width:90vw;
  height:20vh;
  position:fixed;
  border-radius:10px;
  background-color:white;
  display: flex;
  flex-direction:column;
  }

  input {
    width:250px;
  }

  select{
    width:250px;
  }


.graphone{
    top:27vh;
height:32vh;
width:95vw;
  }

.innergraphone{
width:700vw;
height:45vh;
}

.graph{
  left:2vw;
}

.togglebutton{
  display:inline;
}
.graphtwo{
  top:62vh;
height:32vh;
width:95vw;
  }

.innergraphtwo{
width:95vw;
height:45vh;
}

.screenbig{
  display:none;
}

.screensmall{
  display:block;
}

}
